version: '3'
services:
  gatsby:
    working_dir: /home/gatsby-app
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - wordpress
    ports:
      - "8000:8000"
      - "9929:9929"
      - "9230:9230"
    environment:
      GATSBY_WEBPACK_PUBLICPATH: /
      WORDPRESS_URL: wordpress

  wordpress:
    working_dir: /var/www/html
    build:
      context: .
      dockerfile: Dockerfile.wordpress
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_INTERNAL_URL: http://wordpress
    volumes:
      - ./wordpress/engine:/var/www/html
      - ./wordpress/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini

  db:
    image: mysql:5.7
    restart: always
    volumes:
      - ./db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: somewordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
